<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alanbuchanan's Pic Browse</title>
	<link href='https://fonts.googleapis.com/css?family=Yantramanav:100' rel='stylesheet' type='text/css'>
	<style>
		code {display: block;}
		h1, h2, h3, h4, h5, h6 {font-family: 'Yantramanav', sans-serif;}
		body {background-color: #EEEEEE;}
		span {color: gray;}
	</style>
</head>
<body>
	<h1>Alanbuchanan's Pic Browse</h1>

	<h3>This is a small service that allows you to search a database of images, and receive JSON output of the search.</h3>
	<h4>Example usage:</h4>
	<code>https://picbrowse.herokuapp.com/api/imagesearch/Frank Sinatra <span>// Searches for ‘Frank Sinatra’</span></code>

	<h3>You can also include an offset query, which can be used for pagination:</h3>
	<code>?offest=100 <span>// Skips the first 100 search results</span></code>

	<h3>See what others are searching for by heading to:</h3>
	<code>https://picbrowse.herokuapp.com/api/searches</code>
</body>
</html>